<h1>Livros disponíveis</h1>
<div class="books-container">
    <a href="/">Adicionar livro</a>
    {{#each livros}}
        <div>
            #{{this.id}} - <span class="bold">{{this.titulo}}</span> - {{this.qtd_paginas}}
        </div>
    {{/each}}
</div>